<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .content {
        flex: 1;
      }

      .fade-in {
        animation: fadeIn 1s ease-in-out;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </head>

  <body class="bg-white">
    <header class="bg-blue-500 text-white py-4">
      <div class="container mx-auto px-4">
        <nav class="flex justify-between items-center">
          <div>
            <h1 class="text-lg font-bold">File Sharing Website</h1>
          </div>
        </nav>
      </div>
    </header>

    <main class="pt-10">
      <div
        class="container max-w-md mx-auto p-4 bg-white shadow-md rounded text-center"
      >
        <h2 class="text-2xl font-bold mb-4">File Uploaded Successfully!</h2>
        <p class="mb-4"><b>Filename: </b>{{ .Filename }}</p>
        <p class="mb-4">
          <b>Download link:</b>
          <a href="{{ .DownloadLink }}">{{ .DownloadLink }}</a>
        </p>
        <p>
          <b>QR Code:</b>
          <img src="{{ .QRCodeImagePath }}" alt="QR Code" class="mx-auto" />
        </p>
        <h2 class="text-xl font-bold underline pt-4">
          <a href="/">Go Back -></a>
        </h2>
      </div>
    </main>

    <footer class="bg-gray-800 text-white py-4 fixed bottom-0 w-full">
      <div class="container mx-auto px-4 text-center">
        <p>&copy; 2023 File Sharing Website. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
